.change-input {
    font-size:large;
}

.section{
    width:900px;
    height:600px;
    margin:auto;
    background: lavenderblush;
    border:2px solid black;
}

.two-column-section{
    display:flex;
}

.section-left{
    font-size:24px;
    width:49%;
    padding-left:30px;
}

.section-right{
    font-size:24px;
    width:49%;
    padding-left:30px;
}

.button{
    width: 95%;
    height: 35%;
}

.add-section{
    text-align:center;
    padding-top:50px;
    margin:0 auto;
    max-height:443px;
    overflow: auto;
}

.add-section-container{
    display:flex;
    max-width:450px;
    margin:0 auto;
    padding-top:7px;
    font-size:30px;
    position:relative;
}

.add-section-circle{
    height: 25px;
    width: 43px;
    border: 1px solid black;
    border-radius: 50%;
    padding-bottom: 40px;
    position:absolute;
    right:1px;
    background-color: white;
}

.circle-red{
    background: red;
    height: 25px;
    width: 43px;
    padding-bottom: 40px;
    border:1px solid black;
    border-radius:50%;
}

.circle-green{
    background: green;
    height: 25px;
    width: 43px;
    padding-bottom: 40px;
    border:1px solid black;
    border-radius:50%;
}

form{
    display: inline-block;
    vertical-align: top;
    position: relative;
}

input[type="search"]{
    outline: none;
    border: 2px solid #bdc3c7;
    padding: 5px 100px 5px 30px;
    display: block;
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 7px;
}

.check{
    visibility: hidden;
}

.complete .check{
    color:#2ecc71;
    visibility: visible;
}

.add-section-header{
    margin-left:10px;
}

.complete .add-section-header{
    text-decoration:line-through;
}

.complete-red .check{
    color:#2ecc71;
    visibility: visible;
}

.complete-red .add-section-header{
    text-decoration:line-through;
}

.section-count{
    display:block;
}

.count-complete .section-count{
    display:block;
}

.flex{
    display:none;
}

.delete-button{
    height:50px;
    width:100px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-body {padding: 2px 16px;}

.modal-contents {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 47%;
    height:20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.6s
}

.modal-buttons{
    position:absolute;
    right:25px;
    bottom:25px;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

input[type="change"] {
    outline: none;
    border: 2px solid #bdc3c7;
    display: block;
    width: 86%;
    height: 50px;
    background: #fff;
    border-radius: 7px;
}